<div class="app-shell">
  <nav>
    <a routerLink="/" class="wordmark">Buy<span>01</span></a>
    <div class="nav-links">
      <a routerLink="/">
        <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M12 2.75 3.75 9v11.25h6.75V13.5h3v6.75h6.75V9L12 2.75Zm0 2.45 5.5 4.85v7.7h-2.75v-6.75H9.25v6.75H6.5v-7.7l5.5-4.85Z"/></svg>
        Shop
      </a>
      @if (authService.isSeller()) {
        <a routerLink="/dashboard">
          <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M4 4.5A2.5 2.5 0 0 1 6.5 2h11A2.5 2.5 0 0 1 20 4.5v15A2.5 2.5 0 0 1 17.5 22h-11A2.5 2.5 0 0 1 4 19.5v-15Zm2.5-.5a.5.5 0 0 0-.5.5v15c0 .28.22.5.5.5h11a.5.5 0 0 0 .5-.5v-15a.5.5 0 0 0-.5-.5h-11Zm1.5 3h8v2h-8V7Zm0 4h8v2h-8v-2Zm0 4h5v2h-5v-2Z"/></svg>
          Dashboard
        </a>
        <a routerLink="/profile">
          <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M12 12a4 4 0 1 0-4-4 4 4 0 0 0 4 4Zm0 2c-3.33 0-6 1.79-6 4v1h12v-1c0-2.21-2.67-4-6-4Z"/></svg>
          Profile
        </a>
      }
      @if (!authService.isAuthenticated()) {
        <a routerLink="/login">
          <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M10 11V8a2 2 0 0 1 2-2h5a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2v-3H8v3a4 4 0 0 0 4 4h5a4 4 0 0 0 4-4V8a4 4 0 0 0-4-4h-5a4 4 0 0 0-4 4v3h6Zm-2 1H2v2h6l-2 2 1.41 1.41L10.83 13l-2.42-2.41L8 11.41 8 12Z"/></svg>
          Login
        </a>
      }
      @if (authService.isAuthenticated()) {
        <button type="button" class="secondary icon-button" (click)="authService.logout()">
          <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M10 17v2a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v2h-2V5H5v14h3v-2h2Zm7.71-7.29-3.5-3.5-1.42 1.42L14.59 9H8v2h6.59l-1.8 1.8 1.42 1.42 3.5-3.5a1 1 0 0 0 0-1.42Z"/></svg>
          Logout
        </button>
      }
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>